$darkPrimaryColor: #1c1c1c;
$darkSecondaryColor: #161616;
$darkHoverColor: #2c2c2c;
$darkPrimaryTextColor: #757575;
$darkTextHoverColor: #f2f2f2;

$lightPrimaryColor: #e4e5f1;
$lightSecondaryColor: #cfcecc;
$lightHoverColor: #1466f2;
$lightPrimaryTextColor: #7f7f7f;
$lightTextHoverColor: #cbf0ff;
