$darkPrimaryColor: rgb(31, 31, 43);
$lightPrimaryColor: rgb(118, 125, 206);

$darkSecondaryColor: rgb(24, 24, 33);
$lightSecondaryColor: rgb(238, 238, 238);

$darkHoverColor: rgb(44, 44, 44);
$lightHoverColor: rgb(20, 102, 242);

$darkPrimaryTextColor: rgb(196, 196, 196);  
$lightPrimaryTextColor: rgb(225, 235, 255);

$darkSecondaryTextColor: rgb(163, 163, 163);
$lightSecondaryTextColor: rgb(217, 223, 227);

$darkTextHoverColor: rgb(255, 255, 255);
$lightTextHoverColor: rgb(203, 240, 255);
