.navbar{
    width: 100%;
    border-bottom: 4%;

    .open-bar-button {
        background-color: transparent;
        box-shadow: none;
        border: none;
        padding: 0 4% 0 2%;
        border-right: 1px solid;
    }
}