[packages]
fastapi = {extras = ["all"], version = "*"}
pydantic = "*"
uvicorn = "*"
pydantic-settings = "*"
asyncio = "*"
pytest-asyncio = "*"
kubernetes = "*"
kubernetes-asyncio = "*"
cryptography = "*"
pyjwt = {extras = ["crypto"], version = "*"}

[dev-packages]
isort = "*"
black = "*"
mypy = "*"
pytest = "*"
pytest-asyncio = "*"
httpx = "*"
flake8 = "*"
requests-mock = "*"
mock = "*"
faker = "*"

[requires]
python_version = "3.10"

[scripts]
tests = "python -m pytest ."
dev = "python app.py"
linting = "python -m flake8 ."
lint-ci = "python -m flake8 --count ."
black = "python -m black ."
black-ci = "python -m black --check ."
isort = "python -m isort ."
isort-ci = "python -m isort --check ."
