[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "*"
jsonschema = "*"
fastapi = {extras = ["all"], version = "*"}
uvicorn = "*"
cryptography = "*"
pydantic = "*"
pydantic-extra-types = "*"
pydantic-settings = "*"
pydantic-core = "*"
pyjwt = {extras = ["crypto"], version = "*"}
asyncio = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
flake8 = "*"
black = "*"
isort = "*"
requests-mock = "*"
mock = "*"

[requires]
python_version = "3.10"

[scripts]
tests = "python -m pytest ."
dev = "python app.py"
linting = "python -m flake8 ."
black = "python -m black ."
isort = "python -m isort ."
